<ion-view title="Cobas 6000" id="page5">
  <ion-content padding="true" class="has-header">
    <button id="cobas6000-button8" class="button button-positive button-block">Manuals</button>
    <button id="cobas6000-button9" class="button button-positive button-block">Trainingsunterlagen</button>
    <button id="cobas6000-button10" class="button button-positive button-block">Technische Infos</button>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div>
      <img src="img/XIFb1QRgTFqBEVjbZnmm_cobas6000.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>