<ion-view title="Cobas 4000" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="cobas4000-button4" class="button button-positive button-block">Manuals</button>
    <button id="cobas4000-button5" class="button button-positive button-block">Trainingsunterlagen</button>
    <button id="cobas4000-button6" class="button button-positive button-block">Technische Infos</button>
    <a href="file:./c_311_Host_Interface_Manual_Vers_1_8.pdf" id="cobas4000-button14" class="button button-positive button-block">Test Me!</a>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div>
      <img src="img/ujW7sbAwTOKKHlc6aeQh_cobas-e-411-analyser.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>