<ion-view title="Startseite" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <h2>SWA Hitwachi</h2>
      <h2>Wissens-</h2>
      <h2>Basis-Paket</h2>
    </div>
    <div>
      <img src="img/TCBcY8iiSNCHEzCgHEsb_head.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="cobas4000()" id="startseite-button1" class="button button-positive button-block">Cobas 4000</a>
    <a ui-sref="cobas6000()" id="startseite-button2" class="button button-positive button-block">Cobas 6000</a>
    <a ui-sref="cobas8000()" id="startseite-button3" class="button button-positive button-block">Cobas 8000</a>
  </ion-content>
</ion-view>